{% capture meta %}
{% if page.title %}
    {% include meta_property.html property="og:type" content="article" %}
    {% include meta_property.html property="og:title" content=page.title %}
    {% include meta_property.html property="twitter:title" content=page.title%}
{% else %}
    {% include meta_property.html property="og:type" content="website" %}
    {% include meta_property.html property="og:title" content=site.title %}
    {% include meta_property.html property="twitter:title" content=site.title %}
{% endif %}

{% if page.description %}
    {% include meta_property.html property="og:description" content=page.description %}
    {% include meta_property.html property="twitter:description" content=page.description %}
{% endif %}
{% include meta_property.html property="og:site_name" content=site.title %}
{% include meta_property.html property="og:image" content=site.thumbnail %}
{% include meta_property.html property="twitter:image" content=site.thumbnail %}

{% capture page_url %}{{site.base_url}}{% endcapture %}

{% include meta_property.html property="twitter:url" content=page_url %}
{% include meta_property.html property="og:url" content=page_url %}

{% if page.date %}
    {% capture page_date %}
        {{page.date | date_to_xmlschema }}
    {% endcapture %}

    {% include meta_property.html property="article:published_time" content=page_date %}
{% endif %}
{% if page.author.url %}
    {% include meta_property.html property="article:author" content=page.author.url %}
    <link rel="author" href="{{ page.author.url }} ">
{% endif %}
{% endcapture %}
{{ meta | strip_newlines }}